<!-- Total at the end of the cart items -->
<tr>
	<th></th>
	<th class="text-left item-grand-total" colspan="1">
		{{ _("Total") }}
	</th>
	<th class="text-left item-grand-total totals" colspan="3">
		{{ doc.get_formatted("total") }}
	</th>
	
</tr>
<tr>
	<th class="text-left item-grand-total totals" colspan="3">{{ _('Maximum lead time is') }} : {{doc.get_formatted("custom_maximum_lead_time")}} {{ _('days') }}</th>
</tr>
{% if doc.workflow_state == 'Draft' %}
<tr>
	<th class="text-left" colspan="3"><b>{{ _('Preferred Delivery Date') }} :</b> 
		<input class="web_customer_preferred_delivery_date" data-doc-name={{doc.name}} type="date" value="{{doc.custom_customers_preferred_delivery_date}}"/>
	</th>
</tr>
{% endif %}
<tr>{{doc.workflow_state}}
	<th  class="web_customer_remark text-left" colspan="3">
		<b>{{ _("Add Customer Remarks") }} :</b><textarea {{ 'readonly' if  doc.workflow_state != 'Draft' else '' }}   data-doc-name={{doc.name}}   doc-workflow-state={{doc.workflow_state}} class="form-control web_customer_remark" rows="2" placeholder="{{ _('Add Customer Remarks') }}">{{doc.custom_web_customer_remark or ''}}</textarea>
	</th>
</tr>